---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="WI7zhpmPNxfe3OVS4EhB2s48c", oauth_nonce="d598a6dfbacbab61d753f524fad37f3c",
        oauth_signature="%2FfVGgwtcB4uu82XeFSmxcPY6hyY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450331714", oauth_token="2201978042-O14xRvTZcQw8llAHQNvOZA5DIEZrtdOoA7G4uYR",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 05:55:15 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 0c5576a777ed83bcf01ae403e58f663c
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '177'
      X-Rate-Limit-Reset:
      - '1450332333'
      X-Response-Time:
      - '26'
      X-Transaction:
      - ce19fb8b84185283
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Dec 17 02:16:10 +0000 2015","id":677311293863268352,"id_str":"677311293863268352","text":"Crushin''
        this API shit!","source":"\u003ca href=\"http:\/\/127.0.0.1:3000\/\" rel=\"nofollow\"\u003eEdgar''s
        OAuth App\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2201978042,"id_str":"2201978042","name":"Nestor
        Duran","screen_name":"nesduran89","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":10,"friends_count":25,"listed_count":0,"created_at":"Mon
        Nov 18 21:02:40 +0000 2013","favourites_count":1,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":4,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/378800000787047874\/6ffaaabf59052f20f22e650e0de4ba15_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/378800000787047874\/6ffaaabf59052f20f22e650e0de4ba15_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2201978042\/1450311063","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Wed
        May 21 02:12:41 +0000 2014","id":468937392431583234,"id_str":"468937392431583234","text":"#inksausage
        dude has been killing it the whole time","source":"\u003ca href=\"http:\/\/www.WindowsPhone.com\/\"
        rel=\"nofollow\"\u003eWindows Phone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":22[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="WI7zhpmPNxfe3OVS4EhB2s48c", oauth_nonce="7ed108d38ac2b92b297858bbc7510cef",
        oauth_signature="MHQGaIFEVBly7V3xfIP3ccHewok%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450331715", oauth_token="2201978042-O14xRvTZcQw8llAHQNvOZA5DIEZrtdOoA7G4uYR",
        oa[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="WI7zhpmPNxfe3OVS4EhB2s48c", oauth_nonce="f2ce1e580d7916aed64f62cf69abe39f",
        oauth_signature="jQLYYpWyFyQFvsuTuKbh7Gka%2B0M%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450331715", oauth_token="2201978042-O14xRvTZcQw8llAHQNvOZA5DIEZrtdOoA[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=-1&user_id=2201978042
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="WI7zhpmPNxfe3OVS4EhB2s48c", oauth_nonce="239f05c6b18b044f14554727638e10c3",
        oauth_signature="%2FXbDLybCgySNVBbcwaKBZ4l%2B%2FzQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450331715", oauth_token="2201978042-O14xRvTZcQw8llAHQNvOZA5DIEZrtdOoA7G4uYR",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 05:55:16 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - fde711e7906862ea290733bc45eb9e65
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '12'
      X-Rate-Limit-Reset:
      - '1450332332'
      X-Response-Time:
      - '63'
      X-Transaction:
      - eca0c3cc30ca4228
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":129632378,"id_str":"129632378","name":"iHateFollowers","screen_name":"Arielh2","location":"Denver,
        CO","description":"Enjoying life :D","url":"http:\/\/t.co\/i50JSo6QoL","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/i50JSo6QoL","expanded_url":"http:\/\/soundcloud.com\/arielh100","display_url":"soundcloud.com\/arielh100","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":85,"friends_count":384,"listed_count":0,"created_at":"Sun
        Apr 04 23:30:45 +0000 2010","favourites_count":21,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":1362,"lang":"en","status":{"created_at":"Tue
        Dec 15 06:10:33 +0000 2015","id":676645499621904385,"id_str":"676645499621904385","text":"@Broncos
        @RAIDERS because the offense had way too many mistakes","source[...]
[...]
