---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="WI7zhpmPNxfe3OVS4EhB2s48c", oauth_nonce="753666d60695ac863cd2b83da42eeaf9",
        oauth_signature="pTbTiDXX2QpZPr6ykHjz94KCKkM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450376411", oauth_token="2201978042-O14xRvTZcQw8llAHQNvOZA5DIEZrtdOoA7G4uYR",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 18:20:11 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - cbde6c036371392ea9ae180814cc188a
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1450376914'
      X-Response-Time:
      - '37'
      X-Transaction:
      - d783d8eb375e45b5
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":2201978042,"id_str":"2201978042","name":"Nestor Duran","screen_name":"nesduran89","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":10,"friends_count":25,"listed_count":0,"created_at":"Mon
        Nov 18 21:02:40 +0000 2013","favourites_count":1,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":4,"lang":"en","status":{"created_at":"Thu
        Dec 17 02:16:10 +0000 2015","id":677311293863268352,"id_str":"677311293863268352","text":"Crushin''
        this API shit!","source":"\u003ca href=\"http:\/\/127.0.0.1:3000\/\" rel=\"nofollow\"\u003eEdgar''s
        OAuth App\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/378800000787047874\/6ffaaabf59052f20f22e650e0de4ba15_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/378800000787047874\/6ffaaabf59052f20f22e650e0de4ba15_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2201978042\/1450311063","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Thu, 17 Dec 2015 18:20:11 GMT
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="WI7zhpmPNxfe3OVS4EhB2s48c", oauth_nonce="a29750c30426b5eec7860a62c260a6d9",
        oauth_signature="Vz85Sj0%2F0cOED0keU0YlIVuw1ro%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450376423", oauth_token="2201978042-O14xRvTZcQw8llAHQNvOZA5DIEZrtdOoA[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=-1&user_id=2201978042
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="WI7zhpmPNxfe3OVS4EhB2s48c", oauth_nonce="a380d5cb3db21fae2542a3efcb54f22f",
        oauth_signature="yJSDzCUhlqVvh12cL2Jmh5JW2cI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450376423", oauth_token="2201978042-O14xRvTZcQw8llAHQNvOZA5DIEZrtdOoA7G4uYR",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 18:20:23 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 795f62d38e0241e057e9d2720cb3fd5b
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1450377323'
      X-Response-Time:
      - '132'
      X-Transaction:
      - fc53647ff5f06ac5
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":129632378,"id_str":"129632378","name":"iHateFollowers","screen_name":"Arielh2","location":"Denver,
        CO","description":"Enjoying life :D","url":"http:\/\/t.co\/i50JSo6QoL","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/i50JSo6QoL","expanded_url":"http:\/\/soundcloud.com\/arielh100","display_url":"soundcloud.com\/arielh100","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":87,"friends_count":384,"listed_count":0,"created_at":"Sun
        Apr 04 23:30:45 +0000 2010","favourites_count":21,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":1362,"lang":"en","status":{"created_at":"Tue
        Dec 15 06:10:33 +0000 2015","id":676645499621904385,"id_str":"676645499621904385","text":"@Broncos
        @RAIDERS because the offense had way too many mistakes","source[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?cursor=-1&user_id=2201978042
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="WI7zhpmPNxfe3OVS4EhB2s48c", oauth_nonce="a1b76919643173034fbbd90f2beb5666",
        oauth_signature="hqrxTicugZGKcsj6yKLYcUFyOzk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450376423", oauth_token="2201978042-O14xRvTZcQw8llAHQNvOZA5DIEZrtdOoA7G4u[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?cursor=1452189455272751728&user_id=2201978042
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="WI7zhpmPNxfe3OVS4EhB2s48c", oauth_nonce="918173dfabc344c5c33955f15c4e4ad2",
        oauth_signature="fDpkQwD2Op6%2FwGzXez29A41wYpM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450376424", oauth_token="2201978042-O14xRvTZcQw8llAHQN[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="WI7zhpmPNxfe3OVS4EhB2s48c", oauth_nonce="5624afabf907765f3e047616ec0b5471",
        oauth_signature="MMBMbdTjuqnQm1Cb7H7byr%2Fw1Wo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450376425", oauth_token="2201978042-O14xRvTZcQw8llAHQNvOZA5DIEZrtdOoA7G4uYR",
        oaut[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?user_id=2201978042
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="WI7zhpmPNxfe3OVS4EhB2s48c", oauth_nonce="5eef7bf80a361bbbaacbf02d35faf7b9",
        oauth_signature="A0iZUtgffoUoE2B%2FKIl3isZZRFQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450376427", oauth_token="2201978042-O14xRvTZcQw8llAHQNvOZA5DIEZrtdOoA7G4uYR",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 18:20:27 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 89c019750a4400bf7a93e556b96d20bd
      X-Rate-Limit-Limit:
      - '181'
      X-Rate-Limit-Remaining:
      - '180'
      X-Rate-Limit-Reset:
      - '1450377327'
      X-Response-Time:
      - '40'
      X-Transaction:
      - 6418f2bcc08b8cdc
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":2201978042,"id_str":"2201978042","name":"Nestor Duran","screen_name":"nesduran89","location":"","profile_location":null,"description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":10,"friends_count":25,"listed_count":0,"created_at":"Mon
        Nov 18 21:02:40 +0000 2013","favourites_count":1,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":4,"lang":"en","status":{"created_at":"Thu
        Dec 17 02:16:10 +0000 2015","id":677311293863268352,"id_str":"677311293863268352","text":"Crushin''
        this API shit!","source":"\u003[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="WI7zhpmPNxfe3OVS4EhB2s48c", oauth_nonce="2aa4fecf0d5ff3c0bed54313221d36e0",
        oauth_signature="P5MCqJQO3taqWHVsSr5w9YTlmpM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450376427", oauth_token="2201978042-O14xRvTZcQw8llAHQNvOZA5DIEZrtdOoA7G4uYR",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 17 Dec 2015 18:20:27 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 44f5dcbc3d1127fd9f7da0ea61a9f1de
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1450376900'
      X-Response-Time:
      - '62'
      X-Transaction:
      - eafc5ce97076a2e4
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Dec 17 18:15:45 +0000 2015","id":677552780928659456,"id_str":"677552780928659456","text":"Storks
        Teaser TRAILER 1 (2016) - This movie is so funny! Key and I do voices in it.
        https:\/\/t.co\/tA8DN5o9iW","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":63302020,"id_str":"63302020","name":"Jordan
        Peele","screen_name":"JordanPeele","location":"","description":"Key & Peele,
        Keanu, Get Out, Police Academy, Wet Hot, Life in Pieces, The Substitute Teacher,
        Bob''s Burgers, Children''s Hospital, Wanderlust, Weird City","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":435408,"friends_count":1031,"listed_count":2456,"created_at":"Wed
        Aug 05 23:56:12 +0000 2009","favourites_count"[...]
