<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper light-blue lighten-3">
      <a href="#" class="brand-logo center"><%= image_tag('white twitter.png', height: '50') %></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><h4>Twitter Curious</h4></li>
      </ul>
    </div>
  </nav>
</div>
