<h1>Twitter Curious</h1>
<p>Almost as good as the real thing</p>

<% if current_user %>
  <h4>Hello, <%= current_user.name %></h4>
  
  <%= link_to "Logout", logout_path %>
<% else %>
  <%= link_to "Login", login_path %>
<% end %>
